<div data-options="dxView : { name: 'home', title: 'Home' } " >
    <div class="home-view dx-content-background"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <p><span style="color: #FF0000;">Note</span>: To disable the simulator debugging environment, set the project's 'Run in Simulator' property to false.</p>

        <div data-bind="dxButton: {
            text: 'Compute',
            onClick: computeHandler
        }"></div>

        <div data-bind="dxTextBox: {placeholder: 'A', value: a}"></div>
        <div data-bind="dxTextBox: {placeholder: 'B', value: b}"></div>
        <div data-bind="dxTextBox: {placeholder: 'Result', value: r}"></div>
     </div>
</div>